
.menu {
    color: #4863A0;
    background-color: light gray;
    padding: 18px;
    width: 100%;
    border: 2px solid black;
	border-radius: 5px;
    text-align: center;
	float: left;
    outline: none;
    font-size: 17px;
}


.option {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.list
{
	font-color: black;
}